:root {
    --bouche-color-neutral-100: #f1f1f2;
    --bouche-color-neutral-200: #d0d2d5;
    --bouche-color-neutral-300: #b3b6bb;
    --bouche-color-neutral-400: #9699a0;
    --bouche-color-neutral-500: #7a7e87;
    --bouche-color-neutral-600: #61646b;
    --bouche-color-neutral-700: #484a4f;
    --bouche-color-neutral-800: #313337;
    --bouche-color-neutral-900: #1c1d1f;
    --bouche-color-neutral-white: #ffffff;
    --bouche-color-neutral-black: #000000;
    --bouche-color-nightsky-100: #93d0ff;
    --bouche-color-nightsky-200: #78baef;
    --bouche-color-nightsky-300: #5ea4df;
    --bouche-color-nightsky-400: #438ecf;
    --bouche-color-nightsky-500: #2979bf;
    --bouche-color-nightsky-600: #205e95;
    --bouche-color-nightsky-700: #17446b;
    --bouche-color-nightsky-800: #0e2941;
    --bouche-color-nightsky-850: #0d162f;
    --bouche-color-nightsky-900: #060f17;
    --bouche-color-lamplight-100: #fffada;
    --bouche-color-lamplight-200: #f9f1b4;
    --bouche-color-lamplight-300: #f4e88e;
    --bouche-color-lamplight-400: #eedf68;
    --bouche-color-lamplight-500: #e9d643;
    --bouche-color-lamplight-600: #c0af36;
    --bouche-color-lamplight-700: #98892a;
    --bouche-color-lamplight-800: #6f621d;
    --bouche-color-lamplight-900: #473c11;
    --bouche-theme-color-background-default: #060f17;
    --bouche-theme-layout-color-foreground: #0d162f;
}
