:root {  --bouche-color-neutral-100: #F1F1F2;
  --bouche-color-neutral-200: #D0D2D5;
  --bouche-color-neutral-300: #B3B6BB;
  --bouche-color-neutral-400: #9699A0;
  --bouche-color-neutral-500: #7A7E87;
  --bouche-color-neutral-600: #61646B;
  --bouche-color-neutral-700: #484A4F;
  --bouche-color-neutral-800: #313337;
  --bouche-color-neutral-900: #1C1D1F;
  --bouche-color-neutral-white: #FFFFFF;
  --bouche-color-neutral-black: #000000;
  --bouche-color-nightsky-100: #93D0FF;
  --bouche-color-nightsky-200: #78BAEF;
  --bouche-color-nightsky-300: #5EA4DF;
  --bouche-color-nightsky-400: #438ECF;
  --bouche-color-nightsky-500: #2979BF;
  --bouche-color-nightsky-600: #205E95;
  --bouche-color-nightsky-700: #17446B;
  --bouche-color-nightsky-800: #0E2941;
  --bouche-color-nightsky-850: #0D162F;
  --bouche-color-nightsky-900: #060F17;
  --bouche-color-lamplight-100: #FFFADA;
  --bouche-color-lamplight-200: #F9F1B4;
  --bouche-color-lamplight-300: #F4E88E;
  --bouche-color-lamplight-400: #EEDF68;
  --bouche-color-lamplight-500: #E9D643;
  --bouche-color-lamplight-600: #C0AF36;
  --bouche-color-lamplight-700: #98892A;
  --bouche-color-lamplight-800: #6F621D;
  --bouche-color-lamplight-900: #473C11;
  --bouche-theme-color-background-default: #060F17;
  --bouche-theme-layout-color-foreground: #0D162F;}