@import "./reset.css";
@import "./_variables.css";
@import "./fonts.css";

body {
    --dot-size: 6px;
    --dot-space: 20px;

    background:
        linear-gradient(
                90deg,
                var(--bouche-theme-color-background-default) calc(var(--dot-space) - var(--dot-size)),
                transparent 1%
            )
            center / var(--dot-space) var(--dot-space),
        linear-gradient(
                var(--bouche-theme-color-background-default) calc(var(--dot-space) - var(--dot-size)),
                transparent 1%
            )
            center / var(--dot-space) var(--dot-space),
        var(--bouche-theme-layout-color-foreground);
}
.jagged-border {
    position: relative;
}

.jagged-border::after {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    border: var(--bouche-color-lamplight-500) 5px solid;
    border-radius: 16px;

    filter: url(#jagged);
}