@import "./reset.css";
@import "./_variables.css";
@import "./fonts.css";
@import "./welcome.css";

body {
    --dot-size: 6px;
    --dot-space: 20px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: "Rubik", Arial, sans-serif;

    background:
        linear-gradient(
                90deg,
                var(--bouche-theme-color-background-default) calc(var(--dot-space) - var(--dot-size)),
                transparent 1%
            )
            center / var(--dot-space) var(--dot-space),
        linear-gradient(
                var(--bouche-theme-color-background-default) calc(var(--dot-space) - var(--dot-size)),
                transparent 1%
            )
            center / var(--dot-space) var(--dot-space),
        var(--bouche-theme-layout-color-foreground);
}

.jagged-svg {
    filter: url(#jagged-svg);
}

.jagged-svg-xl {
    filter: url(#jagged-svg-xl);
}

.jagged-border {
    --jagged-border-color: var(--bouche-color-lamplight-500);
    position: relative;

    &::after {
        content: "";

        width: calc(100% + 6px);
        height: calc(100% + 6px);

        position: absolute;
        z-index: 1;
        top: -3px;
        left: -3px;

        border: var(--jagged-border-color) 5px solid;
        border-radius: 16px;

        pointer-events: none;

        transition: 0.15s ease-out;

        filter: url(#jagged);
    }


    &[data-jagged="dark"]:not(.error):not(:focus-within) {
        --jagged-border-color: var(--bouche-color-nightsky-900);
    }

    &[data-jagged="light"]:not(.error):not(:hover) {
        --jagged-border-color: var(--bouche-color-neutral-100);
    }

    &.error {
        --jagged-border-color: red /* var(--bouche-color-red-500) */;
    }
}

.jagged-turnstile {
    --jagged-border-color: var(--bouche-color-nightsky-900);
    position: relative;

    &::after {
        content: "";

        width: calc(100% + 6px);
        height: calc(100% - 1px);

        position: absolute;
        z-index: 1000;
        top: -3px;
        left: -3px;

        border: var(--jagged-border-color) 5px solid;
        border-radius: 0.5rem;

        pointer-events: none;

        transition: 0.15s ease-out;

        filter: url(#jagged);
    }
}
