.page__container {
    min-height: 100dvh;
    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    @container (min-width: 1024px) {
        padding-inline: 6rem;
    }
}

.page__content {
    container-type: inline-size;

    width: 100%;
    max-width: clamp(335px, 80%, 1000px);
    border-radius: 1rem;

    transition: opacity 1s ease-out;

    @starting-style {
        opacity: 0;
    }
}

.page__hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 1100px) {
        min-height: 60dvh;
        max-height: 800px;
        padding-block-end: 4rem;

        justify-content: end;
    }
}

.page__logo {
    width: 100%;
    margin-block-end: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @container (min-width: 800px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* flex-direction: row;
        justify-content: center; */
        gap: 1.5rem;
    }
}

.page__logo-image {
    width: 100%;
}

.page__logo-image--harrison {
    @container (min-width: 800px) {
        transform-origin: left;
        transform: scale(1.1);
    }
}

.page__logo-image--bouche {
    transform-origin: left;
    transform: scale(0.8);

    @container (min-width: 800px) {
        transform-origin: right;
        transform: scale(0.9);
    }
}

.page__cta {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;

    @container (min-width: 700px) {
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }

    /* border: red 1px solid; */
}

.page__text {
    width: 100%;
    max-width: 350px;
    padding: 1rem 2rem;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    font-family: "Rubik Bubbles";
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--bouche-color-lamplight-500);
    background-color: transparent;
    fill: var(--bouche-color-lamplight-500);
    white-space: nowrap;

    border-radius: 16px;

    cursor: pointer;

    transition-property: color, fill, background-color, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;

    &:focus-visible {
        outline: var(--bouche-color-nightsky-500) 4px solid;
        outline-offset: 8px;
    }

    &:hover {
        color: var(--bouche-color-nightsky-850);
        fill: var(--bouche-color-nightsky-850);
        background-color: var(--bouche-color-lamplight-500);

        transform: rotate(-2deg) scale(0.95);
    }

    @container (min-width: 700px) {
        max-width: none;
    }
}

.page__text-icon {
    min-width: 2.5rem;
    width: 2.5rem;

    display: block;
}

.page__tagline {
    height: 150px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: start;
    color: var(--bouche-color-neutral-100);

    transform: scale(0.7);
    transform-origin: left;

    @media (min-width: 600px) {
        transform: scale(1);
    }
}

.page__tagline-line-1 {
    z-index: 1;

    font-family: "Rubik Vinyl";
    font-size: 4rem;
    color: var(--bouche-color-lamplight-500);
}

.page__tagline-line-2 {
    font-family: "Crustaceans Signature";
    font-size: 7rem;
    transform: translateX(12px) translateY(-88px);
}

.page__tagline-line-2::after {
    content: "";

    width: 280px;
    height: 40px;

    position: absolute;
    z-index: 2;
    left: 0;
    top: 24px;

    background-color: var(--bouche-color-nightsky-850);
    opacity: 50%;
}

.page__socials {
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

.page__socials-link {
    width: 4rem;

    fill: var(--bouche-color-neutral-100);

    border-radius: 8px;

    transition-property: fill, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;

    &:focus-visible {
        outline: var(--bouche-color-nightsky-500) 4px solid;
        outline-offset: -2px;
    }

    &:hover {
        fill: var(--bouche-color-lamplight-500);
        transform: scale(1.1) rotate(2deg);
    }
}

.contact-form__wrapper {
    container-type: inline-size;
}

.contact-form {
    display: grid;
    gap: 2rem;

    color: var(--bouche-color-neutral-100);
    fill: var(--bouche-color-neutral-100);

    @container (min-width: 700px) {
        grid-template-columns: 33% 1fr;
        align-items: center;
    }
}

.contact-form__section--heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.contact-form__icon {
    width: 188px;
}

.contact-form__heading {
    font-family: "Rubik Bubbles";
    font-size: 2rem;
    text-transform: uppercase;
}

.contact-form__section-wrapper {
    container-type: inline-size;
}

.contact-form__section--form {
    display: grid;
    grid-template-columns: 100%;
    gap: 1.5rem;
    overflow-x: hidden;

    @container (min-width: 400px) {
        grid-template-columns: 50% 50%;
        overflow-x: visible;
    }
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    border-radius: 1rem;
}

.input__label {
    font-family: "Rubik Bubbles";
    font-size: 1.125rem;
    text-transform: uppercase;
}

.input__input-wrapper {
    border-radius: 1rem;

    &.error {
        background-color: #ff5d5d9c;
    }
}

.input__input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 1rem;

    font-size: 1rem;
    line-height: 1.3;

    color: var(--bouche-color-neutral-100);
    border: none;
    background-color: var(--bouche-color-nightsky-800);

    &:focus-visible {
        outline: var(--bouche-color-nightsky-500) 4px solid;
        outline-offset: 6px;
    }

    &:focus {
        outline: none;
    }
}

.input__error {
    padding-inline-start: 0.5rem;
    padding-block: 0.25rem;

    color: var(--bouche-color-neutral-100);

    display: block;
}

.input__input-textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 6rem;
}

.input--full-col {
    grid-column: 1 / -1;
}

.contact-form__turnstile-wrapper {
    width: fit-content;
}

.contact-form__turnstile {
    margin-block-start: 0.25rem;
}

.button {
    grid-column: 1 / -1;

    width: calc(100% - 0.5rem);
    padding: 1rem 2rem;
    margin: 0.25rem;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    font-family: "Rubik Bubbles";
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--bouche-color-nightsky-900);
    fill: var(--bouche-color-nightsky-900);
    background-color: var(--bouche-color-neutral-100);
    white-space: nowrap;

    border-radius: 16px;

    cursor: pointer;

    transition-property: color, fill, background-color, transform, opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;

    &:focus-visible {
        outline: var(--bouche-color-nightsky-500) 4px solid;
        outline-offset: 8px;
    }

    &:hover {
        color: var(--bouche-color-nightsky-850);
        fill: var(--bouche-color-nightsky-850);
        background-color: var(--bouche-color-lamplight-500);

        transform: rotate(-2deg) scale(0.95);
    }

    &:disabled, &.button--disabled {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
    }

    @container (min-width: 700px) {
        max-width: none;
    }
}
